@font-face {
  font-family: Lucida;
  src: url("../../fonts/Lucida_Grande.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: Lucida, Arial, Helvetica, sans-serif;
  font-size: 14px; }

html, body, .app-container {
  min-height: 100%;
  display: flex;
  flex: 1; }

.app-container {
  flex-direction: row;
  align-items: stretch;
  justify-content: center; }

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1; }
  .main .layout {
    display: flex;
    align-items: stretch;
    flex: 4; }
  .main .content {
    display: flex;
    flex: 1; }

.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .dashboard__saldo {
    display: flex;
    padding: 1.5em 2em;
    background-color: #e7e7e8;
    max-height: 62px;
    box-sizing: border-box;
    flex: 1;
    align-items: center; }
    .dashboard__saldo-item {
      display: flex;
      align-items: center; }
      .dashboard__saldo-item .item-key {
        text-transform: uppercase;
        margin-right: 0.5em; }
      .dashboard__saldo-item .item-value {
        font-size: 1.5em;
        font-weight: bold; }
  .dashboard__metrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    padding: 2em; }
    .dashboard__metrics-piecharts {
      display: flex; }
      .dashboard__metrics-piecharts text {
        font-size: 2em; }
    .dashboard__metrics-areachart, .dashboard__metrics-piecharts, .dashboard__metrics-barchart {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 50%; }

.header {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 160px; }
  .header-title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3em;
    text-transform: uppercase;
    flex: 1;
    padding: 0 1em 1em 0;
    margin: 0; }

.sidebar {
  background-color: #818285;
  color: #FFFFFF; }

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2e;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 1.5em;
  min-height: 160px; }
  .profile__person {
    display: flex;
    margin-bottom: .5em; }
    .profile__person-image {
      width: 75px;
      height: 75px;
      border-radius: 50%; }
  .profile__info {
    display: flex;
    flex: 1;
    width: 100%;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
    margin-top: .5em; }
    .profile__info .icon {
      width: 20px;
      height: 20px; }
    .profile__info-name {
      display: flex;
      flex: 1;
      justify-content: center;
      margin: 0 0 0 2em; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  flex: 3;
  width: 100%;
  padding: 0 1em;
  margin: 0; }
  .nav__item-action {
    background-color: #4c4d4f; }
  .nav__item, .nav__item-action {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    margin: 0 -1em;
    text-decoration: none;
    color: inherit;
    opacity: 0.8; }
    .nav__item:hover, .nav__item-action:hover {
      opacity: 1;
      transition: .3s; }
    .nav__item.active, .nav__item-action.active {
      opacity: 1;
      background-color: #a3a5a8; }
    .nav__item .icon, .nav__item-action .icon {
      width: 20px;
      height: 20px; }
    .nav__item span, .nav__item-action span {
      flex: 1;
      text-decoration: none;
      color: inherit;
      align-self: center;
      justify-content: flex-start;
      margin-left: 1em;
      font-size: 1.1em;
      text-transform: uppercase; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  flex: 1;
  background-color: #35bfb5;
  color: #FFF;
  padding: 1em 1.5em; }
  .card__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0;
    text-transform: uppercase; }
    .card__row:first-child {
      flex-direction: column;
      align-items: flex-start; }
  .card__row-value {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold; }
    .card__row-value.saldo {
      font-size: 1.5em; }
  .card__row-key {
    flex: 1; }
    .card__row-key.saldo {
      margin-bottom: 1em; }

.footer {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 2em;
  background-color: #5f6062;
  color: #FFFFFF;
  box-sizing: border-box; }
  .footer__links {
    display: flex; }
  .footer__links-item {
    display: flex;
    flex-direction: column;
    margin-right: 1.5em; }
    .footer__links-item .items-header {
      margin: .25em 0;
      text-transform: uppercase; }
    .footer__links-item .item {
      padding: .25em 0;
      text-decoration: none;
      color: #FFF;
      opacity: 0.9; }
      .footer__links-item .item:hover {
        opacity: 1;
        transition: .3s; }
    .footer__links-item .social-icons {
      display: flex;
      flex: 1;
      align-items: flex-end; }
      .footer__links-item .social-icons .icon {
        width: 30px;
        height: 30px;
        margin: 0 .2em;
        opacity: 0.8; }
        .footer__links-item .social-icons .icon:hover {
          opacity: 1; }
  .footer__legal {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1em; }
  .footer__legal-item .item-text {
    margin: .25em 0;
    font-size: .8em; }

.plug-container {
  display: flex;
  justify-content: center;
  padding: 2em;
  background: #35bfb5;
  align-items: center;
  align-self: center;
  width: 200px;
  height: 40px; }
  .plug-container a {
    text-decoration: none;
    color: #FFFFFF; }
