@font-face {
  font-family: Lucida;
  src: url("../../fonts/Lucida_Grande.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: Lucida, Arial, Helvetica, sans-serif;
  font-size: 14px; }

.app-container {
  display: flex;
  align-items: stretch;
  justify-content: center; }

html, body, .app-container {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column; }

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1; }
  .main__header {
    display: flex;
    align-items: stretch;
    justify-content: center; }
    .main__header-title {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      text-transform: uppercase;
      flex: 5;
      padding: 2em; }
    .main__header .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #2d2d2e;
      color: #FFFFFF;
      box-sizing: border-box;
      padding: 1.5em;
      min-width: 240px; }
      .main__header .profile__person {
        display: flex;
        margin-bottom: .5em; }
        .main__header .profile__person-image {
          width: 75px;
          height: 75px;
          border-radius: 50%; }
      .main__header .profile__info {
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: .5em; }
        .main__header .profile__info .icon {
          width: 20px;
          height: 20px; }
        .main__header .profile__info-name {
          display: flex;
          flex: 1;
          justify-content: center; }
          .main__header .profile__info-name h4 {
            margin: 0 0 0 2em; }
  .main__container {
    display: flex;
    align-items: stretch;
    flex: 4; }
  .main__container-navigation {
    display: flex; }
    .main__container-navigation .sidebar {
      background-color: #818285;
      color: #FFFFFF;
      max-width: 240px; }
      .main__container-navigation .sidebar .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        flex: 3;
        width: 100%;
        padding: 0 1em;
        margin: 0;
        min-width: 240px; }
        .main__container-navigation .sidebar .list__item-action {
          background-color: #4c4d4f; }
        .main__container-navigation .sidebar .list__item, .main__container-navigation .sidebar .list__item-action {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: space-between;
          padding: 1.5em;
          margin: 0 -1em; }
          .main__container-navigation .sidebar .list__item.active, .main__container-navigation .sidebar .list__item-action.active {
            background-color: #a3a5a8; }
          .main__container-navigation .sidebar .list__item .icon, .main__container-navigation .sidebar .list__item-action .icon {
            width: 20px;
            height: 20px; }
          .main__container-navigation .sidebar .list__item a, .main__container-navigation .sidebar .list__item-action a {
            flex: 1;
            text-decoration: none;
            color: inherit;
            align-self: center;
            justify-content: flex-start;
            margin-left: 1em;
            font-size: 1.1em;
            text-transform: uppercase; }
      .main__container-navigation .sidebar .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        box-sizing: border-box;
        flex: 1;
        width: 100%;
        background-color: #35bfb5;
        color: #FFF;
        padding: 1em 1.5em;
        min-width: 240px; }
        .main__container-navigation .sidebar .card__row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: .5em 0;
          text-transform: uppercase; }
          .main__container-navigation .sidebar .card__row:first-child {
            flex-direction: column;
            align-items: flex-start; }
        .main__container-navigation .sidebar .card__row-value {
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          font-weight: bold; }
        .main__container-navigation .sidebar .card__row-key {
          flex: 1; }
          .main__container-navigation .sidebar .card__row-key.saldo {
            margin-bottom: 1em; }
  .main__container-section {
    display: flex;
    flex: 1; }
    .main__container-section .dashboard {
      display: flex;
      flex: 1;
      flex-direction: column; }
      .main__container-section .dashboard__saldo {
        display: flex;
        padding: 1.5em 2em;
        background-color: #e7e7e8;
        max-height: 62px;
        box-sizing: border-box;
        flex: 1;
        align-items: center; }
        .main__container-section .dashboard__saldo-item {
          display: flex;
          align-items: center; }
          .main__container-section .dashboard__saldo-item .item-key {
            text-transform: uppercase;
            margin-right: 0.5em; }
          .main__container-section .dashboard__saldo-item .item-value {
            font-size: 1.5em;
            font-weight: bold; }
      .main__container-section .dashboard__metrics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 2;
        padding: 2em; }
        .main__container-section .dashboard__metrics-piecharts {
          display: flex; }
          .main__container-section .dashboard__metrics-piecharts text {
            font-size: 2em; }
        .main__container-section .dashboard__metrics-areachart, .main__container-section .dashboard__metrics-piecharts, .main__container-section .dashboard__metrics-barchart {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          width: 80%;
          height: 50%; }
  .main .footer {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 2em;
    background-color: #5f6062;
    color: #FFFFFF;
    box-sizing: border-box; }
    .main .footer__links {
      display: flex; }
    .main .footer__links-item {
      display: flex;
      flex-direction: column;
      margin-right: 1.5em; }
      .main .footer__links-item .items-header {
        margin: .25em 0;
        text-transform: uppercase; }
      .main .footer__links-item .items-list {
        list-style: none;
        padding: 0;
        margin: 0; }
        .main .footer__links-item .items-list .item {
          padding: .25em 0; }
          .main .footer__links-item .items-list .item a {
            text-decoration: none;
            color: #FFF; }
      .main .footer__links-item .social-icons {
        display: flex;
        flex: 1;
        align-items: flex-end; }
        .main .footer__links-item .social-icons .icon {
          width: 30px;
          height: 30px;
          margin: 0 .2em; }
    .main .footer__legal {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: 1em; }
    .main .footer__legal-item .item-text {
      margin: .25em 0;
      font-size: .8em; }

.plug-container {
  display: flex;
  justify-content: center;
  padding: 2em;
  background: #35bfb5;
  align-items: center;
  align-self: center;
  width: 200px;
  height: 40px; }
  .plug-container a {
    text-decoration: none;
    color: #FFFFFF; }
